body {
  color:white;
  background: black;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}

header {
    border-bottom: solid 1PX RGB(76, 121, 155);
    padding: 20px;
    font-size: 32px;
    color: rgb(83, 151, 168);
}

.chamada{
    background: rgb(140, 191, 167);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-y: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(70, 151, 70); 
}

.categoria h2{
    color: rgb(83, 151, 168);
}